# OS X temporary files that should never be committed
.DS_Store
*.swp
*.lock
*~
.svn

# XCode files/directories
*~.nib
DerivedData
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/

# Swift.gitignore @ https://github.com/github/gitignore

# Xcode
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
._*
Thumbs.db
.cache
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

