<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11D50b</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ITEIT87x</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MODULE_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(MODULE_VERSION)</string>
	<key>DTCompiler</key>
	<string>4.2</string>
	<key>DTPlatformBuild</key>
	<string>4D502</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11D50b</string>
	<key>DTSDKName</key>
	<string></string>
	<key>DTXcode</key>
	<string>0421</string>
	<key>DTXcodeBuild</key>
	<string>4D502</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ITE IT87x Monitor Plugin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.mozodojo.ITEIT87x</string>
			<key>IOClass</key>
			<string>IT87x</string>
			<key>IOMatchCategory</key>
			<string>IT87x</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>Sensors Configuration</key>
			<dict>
				<key>ASRock</key>
				<dict>
					<key>P55 Deluxe</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string>System</string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string></string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<string></string>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>3000</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<string></string>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
				</dict>
				<key>ASUS</key>
				<dict>
					<key>Crosshair III Formula</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<false/>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<false/>
						<key>VIN0</key>
						<string></string>
						<key>VIN1</key>
						<string></string>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<string></string>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<string></string>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>M2N SLI DELUXE</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string>System</string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>3000</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>+5VSB</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>M4A79XTD EVO</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string>System</string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string></string>
						<key>VIN1</key>
						<string></string>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<string></string>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
				</dict>
				<key>DFI</key>
				<dict>
					<key>LP BI P45-T2RS Elite</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string>Ambient</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string></string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>3000</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string>Memory</string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>+5VSB</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>LP DK P55-T3eH9</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>Ambient</string>
						<key>TEMPIN2</key>
						<string>CPU</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string></string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>3000</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string>Memory</string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
				</dict>
				<key>Default</key>
				<dict>
					<key>FANIN0</key>
					<string></string>
					<key>FANIN1</key>
					<string></string>
					<key>FANIN2</key>
					<string></string>
					<key>FANIN3</key>
					<string></string>
					<key>FANIN4</key>
					<string></string>
					<key>SmartGuardian</key>
					<true/>
					<key>TEMPIN0</key>
					<string>System</string>
					<key>TEMPIN1</key>
					<string>CPU</string>
					<key>TEMPIN2</key>
					<string>Ambient</string>
					<key>VIN0</key>
					<string>CPU</string>
					<key>VIN1</key>
					<string>Memory</string>
					<key>VIN2</key>
					<string></string>
					<key>VIN3</key>
					<string></string>
					<key>VIN4</key>
					<string></string>
					<key>VIN5</key>
					<string></string>
					<key>VIN6</key>
					<string></string>
					<key>VIN7</key>
					<string></string>
					<key>VIN8</key>
					<string></string>
				</dict>
				<key>ECS</key>
				<dict>
					<key>A890GXM-A</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>CPU</string>
						<key>TEMPIN1</key>
						<string>Ambient</string>
						<key>TEMPIN2</key>
						<string>System</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
				</dict>
				<key>Gigabyte</key>
				<dict>
					<key>965P-S3</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>EP43-UD3L</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string>Ambient</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>EP45-DS3</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>EP45-DS3R</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>EP45-UD3R</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>EX58-EXTREME</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string>Ambient</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<string></string>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>GA-MA770T-UD3</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<string></string>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>GA-MA785GMT-UD2H</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<string></string>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>H61M-S1</key>
					<dict>
						<key>FANIN0</key>
						<string>CPUFan</string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<false/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>Memory</string>
						<key>TEMPIN2</key>
						<string>Ambient</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>Memory</string>
							<key>Ri</key>
							<integer>3</integer>
						</dict>
						<key>VIN2</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Ri</key>
							<integer>3</integer>
						</dict>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Ri</key>
							<integer>1</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Ri</key>
							<integer>2</integer>
						</dict>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Ri</key>
							<integer>2</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Ri</key>
							<integer>1</integer>
						</dict>
					</dict>
					<key>Z170X-UD5 TH-CF</key>
					<dict>
						<key>FANIN0</key>
						<string>CPUFan</string>
						<key>FANIN1</key>
						<string>SysFan</string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<false/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>Memory</string>
						<key>TEMPIN2</key>
						<string>Ambient</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>Memory</string>
							<key>Ri</key>
							<integer>3</integer>
						</dict>
						<key>VIN2</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Ri</key>
							<integer>3</integer>
						</dict>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Ri</key>
							<integer>1</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Ri</key>
							<integer>2</integer>
						</dict>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Ri</key>
							<integer>2</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Ri</key>
							<integer>1</integer>
						</dict>
					</dict>
					<key>H67A-UD3H-B3</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string>CPU</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string></string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>1500</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>220</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN3</key>
						<string></string>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string>CPU</string>
						<key>VIN6</key>
						<string>Memory</string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>P35-DS3</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string>Ambient</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>P35-DS3L</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string>Ambient</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>P55-UD3L</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<string></string>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>P55-UD4</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<string></string>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>P55M-UD4</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<string></string>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>P67A-UD4-B3</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string>CPU</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>1000</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>1500</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<string></string>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string>CPU</string>
						<key>VIN6</key>
						<string>Memory</string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>X38-DS5</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>X58A-UD3R</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>Ambient</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string>System</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string>3VCC</string>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>1000</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>910</integer>
							<key>Ri</key>
							<integer>2700</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<string></string>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>Z68A-D3H-B3</key>
					<dict>
						<key>FANIN0</key>
						<string>CPU Fan</string>
						<key>FANIN1</key>
						<string>System Fan1</string>
						<key>FANIN2</key>
						<string>PWR Fan</string>
						<key>FANIN3</key>
						<string>System Fan2</string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string>CPU</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string></string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Rf</key>
							<integer>2050</integer>
							<key>Ri</key>
							<integer>1330</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>220</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>2000</integer>
							<key>Ri</key>
							<integer>1430</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string>CPU</string>
						<key>VIN6</key>
						<string>Memory</string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>Z68AP-D3</key>
					<dict>
						<key>FANIN0</key>
						<string>CPU Fan</string>
						<key>FANIN1</key>
						<string>System Fan1</string>
						<key>FANIN2</key>
						<string>PWR Fan</string>
						<key>FANIN3</key>
						<string>System Fan2</string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string>CPU</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string></string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Rf</key>
							<integer>2050</integer>
							<key>Ri</key>
							<integer>1330</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>220</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>2000</integer>
							<key>Ri</key>
							<integer>1430</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string>CPU</string>
						<key>VIN6</key>
						<string>Memory</string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
					</dict>
					<key>Z68X-UD7-B3</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string></string>
						<key>TEMPIN2</key>
						<string>CPU</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string></string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Rf</key>
							<integer>2050</integer>
							<key>Ri</key>
							<integer>1330</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Rf</key>
							<integer>220</integer>
							<key>Ri</key>
							<integer>680</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>2000</integer>
							<key>Ri</key>
							<integer>1430</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string>CPU</string>
						<key>VIN6</key>
						<string>Memory</string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
					<key>Z87P-D3</key>
					<dict>
						<key>FANIN0</key>
						<string>Processor Fan</string>
						<key>FANIN1</key>
						<string>System Fan1</string>
						<key>FANIN2</key>
						<string>System Fan2</string>
						<key>FANIN3</key>
						<string>System Fan2</string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string>Ambient</string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>VID</string>
						<key>VIN1</key>
						<dict>
							<key>Name</key>
							<string>3VCC</string>
							<key>Rf</key>
							<integer>2050</integer>
							<key>Ri</key>
							<integer>1330</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN2</key>
						<dict>
							<key>Name</key>
							<string>+12VC</string>
							<key>Ri</key>
							<integer>5</integer>
						</dict>
						<key>VIN3</key>
						<dict>
							<key>Name</key>
							<string>+5VC</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>150</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string>CPU</string>
						<key>VIN6</key>
						<string>Memory</string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Ri</key>
							<integer>1</integer>
						</dict>
						<key>VIN8</key>
						<dict>
							<key>Name</key>
							<string>VBAT</string>
							<key>Ri</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>Shuttle</key>
				<dict>
					<key>FH67</key>
					<dict>
						<key>FANIN0</key>
						<string></string>
						<key>FANIN1</key>
						<string></string>
						<key>FANIN2</key>
						<string></string>
						<key>FANIN3</key>
						<string></string>
						<key>FANIN4</key>
						<string></string>
						<key>SmartGuardian</key>
						<true/>
						<key>TEMPIN0</key>
						<string>System</string>
						<key>TEMPIN1</key>
						<string>CPU</string>
						<key>TEMPIN2</key>
						<string></string>
						<key>VBATNeedUpdates</key>
						<true/>
						<key>VIN0</key>
						<string>CPU</string>
						<key>VIN1</key>
						<string>Memory</string>
						<key>VIN2</key>
						<string></string>
						<key>VIN3</key>
						<string></string>
						<key>VIN4</key>
						<string></string>
						<key>VIN5</key>
						<string></string>
						<key>VIN6</key>
						<string></string>
						<key>VIN7</key>
						<dict>
							<key>Name</key>
							<string>3VSB</string>
							<key>Rf</key>
							<integer>100</integer>
							<key>Ri</key>
							<integer>100</integer>
							<key>VRef</key>
							<integer>0</integer>
						</dict>
						<key>VIN8</key>
						<string>VBAT</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
		<key>org.netkas.FakeSMC</key>
		<string>3.3.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
