<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ACPIMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ADT7470.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>AmdCPUMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Andigilog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>F718x.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>FakeSMC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GeforceSensor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>HWInfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ICHSMBus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>IT87x.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>IntelCPUMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NVClockX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PC8739x.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>RadeonMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SMIMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>W836x.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>X3100.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>122024FC16D3A8BF003769F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>124E606516C818AD004D3FE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1260E42216C3DC3A006515EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1267DE2018BC8D9A00D833A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>128BC44416DC9854008C76D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A665A018DB055E00CF7D7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12AB85BA1920F14200ACDEA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12CB0F4512C0888E00068B06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12CBB17D12BDEA9F00157341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12D78B1D12BFDCFD002C61EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE00C784126A1F440068E69A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE00C7BC126A24960068E69A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE212C6912678D3500145048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE5BA5771268D94A00EA6AB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE840E52128D8544006532CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AED9E18D125FBEF400736A5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEF4C80312602EE700297B2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
